.user-card {
    display: flex;
    flex-direction: column;
    background-color: var(--color-dark-10);
    width: 300px;
    color: var(--color-gray);
    font-size: 12px;
    font-family: var(--font-family);
    padding: 0.5rem;
    border-radius: 1rem;
}
