.user-card {
    display: flex;
    flex-direction: column;
    background-color: var(--color-dark-10);
    width: 300px;
    color: var(--color-gray);
    font-size: 12px;
    font-family: var(--font-family);
    padding: 0.5rem;
    border-radius: 1.5rem;

    &__nickname {
        font-size: 2rem;
        text-align: center;
        color: var(--color-light);
    }

    &__avatar {
        padding-block: 5px;
        object-fit: cover;
        aspect-ratio: 1 / 1;
        border-radius: 1.5rem;
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 0.5rem 1rem;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__identity {
        &-name {
            color: var(--color-light);
            font-size: 1.5rem;
        }
    }

    &__like {
        display: flex;
        align-items: center;

        &.is-active {
            color: var(--color-red);
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 0.5rem;

        &-birthday {
            position: relative;
            display: flex;
            gap: 5px;

            &::before {
                content: "";
                display: flex;
                width: 1rem;
                height: 1rem;
                background: url("../icons/birthday-cake.svg") center / cover
                    no-repeat;
            }

            &::after {
                content: var(--age);
                position: absolute;
                top: -5px;
                left: 0;
                width: 100%;
                text-align: center;
                background-color: var(--color-dark);
                color: var(--color-light);
                font-size: 0.8rem;
                padding: 5px 0.5rem;
                border-radius: 0.5rem;
                white-space: nowrap;
                cursor: pointer;
            }
        }

        &-description {
            font-style: italic;
        }
    }

    &__profile {
        display: flex;
        justify-content: space-between;
    }

    &__links {
        display: flex;
        gap: 0.5rem;
    }

    &__projects {
        display: flex;
        align-items: center;
    }

    &__follow {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
        padding-inline: 0.8rem;

        &.is-active {
            background-color: var(--color-dark);
            color: var(--color-light);

            &:hover {
                background-color: var(--color-light);
                color: var(--color-dark);
            }
        }
    }
}
