:root {
    --color-dark: #212529;
    --color-dark-10: #343a40;

    --color-light: #f8f9fa;

    --color-gray: #adb5bd;
    --color-gray-10: #ced4da;

    --font-family: Verdana, Tahoma, sans-serif;

    --transition-duration: 0.2s;
}
